<div class="col-md-6">
  <h2 class="text-center">Add Employee</h2>
  <form [formGroup]="addForm" (ngSubmit)="addEmployee()">

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="lastName">Password:</label>
      <input type="password" formControlName="password" placeholder="Password" name="password" class="form-control"
        id="password">
    </div>

    <div class="form-group">
      <label for="lastName">Roles:</label>
      <select multiple formControlName="roles">
        <option [value]="roles" *ngFor="let role of roles" [ngValue]="role.id" (change)="changeRole($event)">
          {{role.roleName}}</option>
      </select>
    </div>

    <button class="btn btn-success">Add</button>

  </form>
</div>